<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Mi Ecommerce</title>
</head>
<body>
  <h1>Bienvenido a la tienda</h1>
  <p>Para ver productos, accedé a /api/products</p>
  <p>Para ver un carrito, accedé a /api/carts/:cid</p>
</body>
</html>
